<component name="ArtifactManager">
  <artifact type="war" name="spring-jslt-view-data2:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-jslt-view-data2.war">
      <element id="artifact" artifact-name="spring-jslt-view-data2:war exploded" />
    </root>
  </artifact>
</component>